/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */

@import 'liferay-font-awesome/scss/font-awesome';
@import 'liferay-font-awesome/scss/glyphicons';

/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

.autofit-float.autofit-row.portlet-header {
    display: none !important;
}
.sheet-header {
    margin-bottom: 0 !important;
}
.form-group input, .form-group textarea {
    border: 1px solid #ddd !important;
}
.dropdown.lfr-icon-menu button {
    padding: 0 !important;
}
.sheet-lg {
    margin-top: 2rem !important;
}

.sheet-title {
    color: #000 !important;
}

.sheet-text label.control-label {
    color: #000 !important;
}